In [149]:
import pandas as pd
import numpy as np

In [150]:
data = pd.read_csv('data_sample_real.csv')
data_soucrce = pd.read_csv('fdl_cust_uas_appl_cust_info.csv',index_col=0)

In [151]:
data.head(3)

     name               id_no      mobi_no           bank_no  order_num
0   ����ϲ  110105196409027000  135****1267  43406200****0695          6
1  ������  150102197206082000  136****0459  62260901****1867         13
2     ��ٻ  411328198709025000  132****4509  62122640****6603          4

In [152]:
data_soucrce.head(3)

,union_id,id_no,bank_card_no,mobi_no
0,e35d84192d954b53988f56a91b9a5ba5,23102619830202CZ1.,621700006002f.f .8X,1557350b3fb15fff0dda7c30bedb1622bd1
1,ca2d9ac20b304ef1801ff81b71bfb160,53332519950506ed0C,621226251300d.fgXZ.,159850ed8ef346747f3f29dbb67ffab582f
2,efc7d7b08cb84cdbb08d8761a8972649,15232719900414dd1e,621559060900deegeeX,133dcc6121319f29b9fbf81e327ed2a73b0

In [153]:
data_soucrce.shape

(16671423, 4)

In [154]:
data_soucrce=data_soucrce.drop_duplicates(['id_no','mobi_no'])

In [155]:
data_soucrce.shape

(7832510, 4)

In [156]:
data.id_no=data.id_no.str.slice(0,14)
data.mobi_no=data.mobi_no.str.slice(0,3)
data.bank_no=data.bank_no.str.slice(0,8)
data['code']=data.id_no+data.mobi_no

In [ ]:

data_soucrce.id_no=data_soucrce.id_no.str.slice(0,14)
data_soucrce.mobi_no=data_soucrce.mobi_no.str.slice(0,3)
data_soucrce.bank_card_no=data_soucrce.bank_card_no.str.slice(0,8)
data_soucrce['code']=data_soucrce.id_no+data_soucrce.mobi_no

In [ ]:

inter=np.intersect1d(data.code.values,data_soucrce.code.values)

In [ ]:
inter.shape

In [ ]:
print inter

In [ ]:

data.head(3)

In [ ]:
data_soucrce.head(3)

In [ ]:
inter_id_no=np.intersect1d(data.id_no.values,data_soucrce.id_no.values)

In [ ]:
print inter_id_no

In [ ]:
inter_id_no.shape

In [ ]:
data.set_index('id_no').ix[inter_id_no]

In [ ]:
data.to_csv('white_name_list.csv')

In [ ]:
data.set_index('id_no').ix[inter_id_no,:]

In [ ]:
print data

In [ ]:
data=data.set_index('id_no')

In [ ]:
data = data.ix[inter_id_no]

In [ ]:
print data

In [ ]:
data.to_csv('repeatdata.csv')

In [ ]:
data_soucrce.bank_card_no.unique().shape

In [ ]:
.unique().shape