In [3]:
import pandas as pd
import numpy as np

In [ ]:
#data = pd.read_csv('data_sample_real.csv')
data_soucrce = pd.read_csv('fdl_cust_uas_appl_cust_info.csv',index_col=0)

In [5]:
type(data_soucrce.id_no)

pandas.core.series.Series

In [51]:
data.head(3)

     name               id_no      mobi_no           bank_no  order_num
0   ����ϲ  110105196409027000  135****1267  43406200****0695          6
1  ������  150102197206082000  136****0459  62260901****1867         13
2     ��ٻ  411328198709025000  132****4509  62122640****6603          4

In [52]:
data_soucrce.head(3)

,union_id,id_no,bank_card_no,mobi_no
0,e35d84192d954b53988f56a91b9a5ba5,23102619830202CZ1.,621700006002f.f .8X,1557350b3fb15fff0dda7c30bedb1622bd1
1,ca2d9ac20b304ef1801ff81b71bfb160,53332519950506ed0C,621226251300d.fgXZ.,159850ed8ef346747f3f29dbb67ffab582f
2,efc7d7b08cb84cdbb08d8761a8972649,15232719900414dd1e,621559060900deegeeX,133dcc6121319f29b9fbf81e327ed2a73b0

In [53]:
data_soucrce.shape

(16671423, 4)

In [54]:
data_soucrce=data_soucrce.drop_duplicates(['union_id','id_no','mobi_no'])

In [55]:
data_soucrce.shape

(7832510, 4)

In [ ]:
data.id_no=data.id_no.str.slice(0,14)
data.mobi_no=data.mobi_no.str.slice(0,3)
data.bank_no=data.bank_no.str.slice(0,8)
data['code']=data.id_no+data.mobi_no

In [1]:
data.id_no

NameError: name 'data' is not defined

In [ ]:
data_soucrce.union_id = data_soucrce.union_id
data_soucrce.id_no=data_soucrce.id_no.str.slice(0,14)
data_soucrce.mobi_no=data_soucrce.mobi_no.str.slice(0,3)
data_soucrce.bank_card_no=data_soucrce.bank_card_no.str.slice(0,8)
data_soucrce['code']=data_soucrce.id_no+data_soucrce.mobi_no

In [57]:
data_sample_real.csv

In [58]:

inter=np.intersect1d(data.code.values,data_soucrce.code.values)

In [59]:
inter.shape

(97,)

In [60]:
print inter

['13022919820403139' '13028119841024186' '14010519850104186'
 '14270319781126138' '15020519810603150' '15270119890704139'
 '21028119811027134' '21038119861212150' '22010419680417181'
 '22020419790210138' '31010619800831139' '31010619810407139'
 '31010919820716134' '31010919840115138' '31011019781112139'
 '31011519790121137' '31011519810707139' '32010219720429136'
 '32028319861124139' '32058319831123137' '32082119860720139'
 '32088219891021138' '32088219900505187' '32091119890720158'
 '32092419911010187' '32132219870125187' '32132319890604152'
 '33030419860503138' '33032319740127137' '33032619850921135'
 '33038219830828137' '33038219831024137' '33042119810719138'
 '33042119921211158' '33050119820519135' '33102319810727137'
 '34022219870418150' '34082519950120159' '34122319871008159'
 '34222119830815152' '34222419910810182' '34262319901124186'
 '34262319960609137' '35030119880408181' '35032119780728139'
 '35052119880425158' '35052119881002136' '35052119900216135'
 '35052119931225159' '35058319891128159' '35062319880213150'
 '35220119860213158' '36010319801103139' '37018119880809155'
 '37078619931129156' '37132519850903158' '37152419900620182'
 '41018219930620150' '41102419900211135' '42030019751005138'
 '42032119860318136' '42900519890315158' '42900619900603186'
 '43010519791019139' '43068119890306186' '43100319831111137'
 '43293019811004186' '44010319771231186' '44058219901212159'
 '44060219871213139' '44068219960527137' '44098119920701137'
 '44132219910914135' '44162419840222137' '44182719920903137'
 '44190019840712159' '44522419880918159' '44528119860820135'
 '44528119900901139' '45080219881213187' '45082119920510185'
 '45092219890202136' '45092319890916182' '50022819910726187'
 '50022819921201158' '51020219800303136' '51020219810409136'
 '51072219890619182' '51092119910308132' '51100219850810151'
 '51152319861014182' '51162319890614157' '51382219900709181'
 '53011119720222138' '61011319870323186' '61012119860220135'
 '61052819700506158']

In [61]:

data.head(3)

     name           id_no mobi_no   bank_no  order_num               code
0   ����ϲ  11010519640902     135  43406200          6  11010519640902135
1  ������  15010219720608     136  62260901         13  15010219720608136
2     ��ٻ  41132819870902     132  62122640          4  41132819870902132

In [62]:
data_soucrce.head(3)

,union_id,id_no,bank_card_no,mobi_no,code
0,e35d84192d954b53988f56a91b9a5ba5,23102619830202,62170000,155,23102619830202155
1,ca2d9ac20b304ef1801ff81b71bfb160,53332519950506,62122625,159,53332519950506159
2,efc7d7b08cb84cdbb08d8761a8972649,15232719900414,62155906,133,15232719900414133

In [63]:
inter_id_no=np.intersect1d(data.id_no.values,data_soucrce.id_no.values)

In [64]:
print inter_id_no

['11010219690503' '11010219791001' '11010219810716' ..., '62052319870925'
 '63280119900215' '65422319840118']

In [ ]:
inter_id_no.shape

In [65]:
data_soucrce = data_soucrce.set_index('id_no').ix[inter_id_no]

In [ ]:
print data_soucrce

In [66]:
data_soucrce.to_csv('white_list_name.csv')

In [ ]:
data.set_index('id_no').ix[inter_id_no]

In [ ]:
data.to_csv('try.csv')

In [67]:
data.set_index('id_no').ix[inter_id_no,:]

                  name mobi_no   bank_no  order_num               code
id_no
11010219690503  ������     139  62122602          4  11010219690503139
11010219791001   ��ΰ��     138  43674200          4  11010219791001138
11010219810716    ����     157  45635101          5  11010219810716157
11010219840227    ����     158  62148501          4  11010219840227158
11010219861017    ��ٻٻ     186  62148501          6  11010219861017186
11010419811005     ��˼     139  62220002          7  11010419811005139
11010419820817    ����     138  62258810          4  11010419820817138
11010519750512  ������     138  60138201          5  11010519750512138
11010519800220    ����     136  62177307         14  11010519800220136
11010519820830    ��һƽ     138  62270000          7  11010519820830138
11010519880818     ���     158  62258801         10  11010519880818158
11010519880914   �����     158  62122602         18  11010519880914158
11010619781114    �Ʒ�ϼ     138  62220843          4  11010619781114138
11010619901011    ����     185  62170000          4  11010619901011185
11010819701120   ����Ƽ     136  43674200          7  11010819701120136
11010819780507    ���     138  62260901          4  11010819780507138
11010819820108   �μ���     135  95588002          8  11010819820108135
11010819850612  ������     185  62270000          7  11010819850612185
11010819901026  ������     136  62258801          4  11010819901026136
11010919860211    ��˼˼     138  62220802          4  11010919860211138
11011119881125    ����     134  62148501          5  11011119881125134
12010319690810    ��Ц÷     139  60138202          6  12010319690810139
12022119870221    ��ɺɺ     186  45635102          4  12022119870221186
12022119890925   �����     136  62220203         17  12022119890925136
12022219701116  ������     136  62148601          4  12022219701116136
12022219870518   ����֥     182  62122602          6  12022219870518182
12022219891009     ��׿     155  62258801         16  12022219891009155
12022219931025    ����     182  62258812          4  12022219931025182
12022519850921    �زʾ�     136  62260902          5  12022519850921136
12022519881005   �޴���     137  62170012          7  12022519881005137
...                ...     ...       ...        ...                ...
61011319870323    ����     186  62148502          7  61011319870323186
61011419800705    �λ�÷     153  62178536          7  61011419800705153
61012119860220    ���ǿ     135  62148391          6  61012119860220135
61030319871221   ��ݼ��     186  62266202          6  61030319871221186
61032219831002  ������     150  62258801          6  61032219831002150
61032219840822  ������     158  62170000          4  61032219840822158
61042419870121  ������     152  62266223          5  61042419870121152
61042419880929     �޾�     180  62220812          4  61042419880929180
61042719870204     ���     137  62148329          8  61042719870204137
61050219920103     ���     188  62220220          6  61050219920103188
61052319920723    ����     151  62179032          4  61052319920723151
61052419900220     ���     159  62270041          5  61052419900220159
61052419911023  ������     180  62270038          4  61052419911023180
61052819700506   �����     158  62122605          5  61052819700506158
61052819841013  ������     180  62270042          5  61052819841013180
61060219870914    ����     182  62266202          7  61060219870914182
61212719770616  ������     137  62122626         10  61212719770616137
61252219860819    ����     151  62178684          4  61252219860819151
61252519951006     ��ٻ     189  62178536          4  61252519951006189
61270119880213  ������     187  62178536          5  61270119880213187
61273119890220    ����     152  62166136          9  61273119890220152
61273119920801     �߼�     132  62270002          4  61273119920801132
62010219650308   ���ݾ�     135  62220836          4  62010219650308135
62010219700215   ���Ǿ�     189  62170042         14  62010219700215189
62010219830515     ��ݺ     138  62176802          7  62010219830515138
62010219890528      �     186  62270000          4  62010219890528186
62050319820820  ������     136  62284803          4  62050319820820136
62052319870925   ���ķ�     136  62170042          7  62052319870925136
63280119900215   ���ľ�     189  62270044          4  63280119900215189
65422319840118  ������     133  62252131          5  65422319840118133

[1027 rows x 5 columns]

In [ ]:
print data

In [ ]:
data=data.set_index('id_no')

In [ ]:
print data

In [ ]:
data.to_csv('repeatdata.csv')

In [ ]:
data_soucrce.bank_card_no.unique().shape

In [ ]:
.unique().shape