In [1]:
%matplotlib  inline
import pandas  as pd 
import numpy as np
%time metadata=pd.read_csv("custorm_age_state/data/mobi/mobi_call_record_0801_0830_1_2.csv",index_col=0)
# ,parse_dates=["call_time"]

<string>:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: user 1min 9s, sys: 7.52 s, total: 1min 16s
Wall time: 1min 16s

# 合并准备数据

In [2]:
metadata.head(3)

,custorm_id,login_name,type_contact,num_contact,time_contact,phone_contact,type_call
0,3283806.0,1.523690e+10,1.0,85.0,2016-04-19 08:31:36,1.31237e+10,1.0
1,3283806.0,1.523690e+10,1.0,104.0,2016-04-19 07:50:59,1.31237e+10,1.0
2,3283806.0,1.523690e+10,1.0,47.0,2016-04-19 07:33:36,1.31937e+10,1.0

In [3]:
print '元数据有数据条目',metadata.shape
print '元数据有已有用户',metadata.custorm_id.unique().size
print '元数据有潜在用户',metadata.phone_contact.unique().size

元数据有数据条目 (84360000, 7)
元数据有已有用户 52246
元数据有潜在用户 8863900

### 特征1:联系人数目

In [4]:
%time cust_num=metadata.groupby('phone_contact').apply(lambda x:len(set(x.custorm_id.values)))

CPU times: user 7min 18s, sys: 2.75 s, total: 7min 21s
Wall time: 7min 20s

In [25]:
cust_num.head(3)

phone_contact
1.003627e+10    1
1.005121e+10    2
1.005271e+10    1
dtype: int64

In [31]:
cust_num.value_counts()

1      6839898
2       286824
3        47809
4        14165
5         6104
6         3082
7         1828
8         1128
9          764
10         537
11         376
12         267
13         219
14         175
15         121
17          93
16          82
18          79
19          59
24          52
23          42
21          42
20          39
27          37
22          33
26          32
25          29
31          18
29          17
28          17
        ...
162          1
177          1
352          1
262          1
300          1
307          1
316          1
123          1
368          1
380          1
435          1
137          1
85           1
113          1
80           1
694          1
61           1
64           1
68           1
73           1
75           1
82           1
112          1
84           1
86           1
91           1
100          1
101          1
104          1
924          1
dtype: int64

In [58]:
ss=pd.concat([cust_num,record_time_BA],axis=1)
sss=ss[ss[0].apply(lambda x:1<x<10)]

In [60]:
sss.shape

(361704, 8)

In [80]:
sss.index.values

array([  1.00512100e+10,   1.01908522e+10,   1.02110101e+10, ...,
         1.92937602e+10,   1.92937610e+10,   1.96856287e+10])

In [19]:
app_call_record['custorm_id'].unique().size

51027

In [19]:
app_call_record['custorm_id'].unique().size

51027

# 清洗数据

In [6]:
%time app_call_record=app_call_record[app_call_record.phone_contact.apply(lambda x:13000000000< x <19000000000 )]

CPU times: user 18.8 s, sys: 1.3 s, total: 20.1 s
Wall time: 20.1 s

In [7]:
app_call_record.shape

(71221273, 7)

# 特征工程

In [8]:
def get_time_interval(x):
    if len(x)!=19:return 0
    temp=int(x[11:13])
    if 1<=temp<=6:return 6
    elif 7<=temp<=12:return 12
    elif 13<=temp<=18:return 18
    elif 19<=temp<=20:return 20
    elif 21<=temp<=22:return 22
    else: return 24

In [9]:
# 所属时间段：6为1-6；12为7-12；18为13-18；20为19-20；22为21-22；其他为24
%time app_call_record['time_interval']=app_call_record['time_contact'].apply(lambda x :get_time_interval(x))

CPU times: user 59.1 s, sys: 800 ms, total: 59.9 s
Wall time: 59.8 s

In [10]:
app_call_record.head(3)

,custorm_id,login_name,type_contact,num_contact,time_contact,phone_contact,type_call,time_interval
0,3283806.0,1.523690e+10,1.0,85.0,2016-04-19 08:31:36,1.31237e+10,1.0,12
1,3283806.0,1.523690e+10,1.0,104.0,2016-04-19 07:50:59,1.31237e+10,1.0,12
2,3283806.0,1.523690e+10,1.0,47.0,2016-04-19 07:33:36,1.31937e+10,1.0,12

In [18]:
%%time
# time_stats={"total_time":np.sum,"avg_time":np.avg}
def get_stats(grouped,feature):
    stats=["sum","mean","count","std","max","min","median"]
    prefix=feature+"_"
    grouped=grouped[feature].agg(stats).add_prefix(prefix)
    return grouped
# call_contact_gap=app_call_record_group["contact_gap"].agg(get_stats).add_prefix("contact_gap_")
## 总计
app_call_record_group=app_call_record.groupby(["phone_contact"])
print '排序已经完成'
record_time=get_stats(app_call_record_group,"num_contact")
print '通话时常变量已经完成'
# record_contact_gap=get_stats(app_call_record_group,"contact_gap")
# print '通话间隔变量已经完成'
## 来电
app_call_record_group_BA=app_call_record[app_call_record.type_call==2].groupby(["phone_contact"])
print '来电排序已经完成'
record_time_BA=get_stats(app_call_record_group_BA,"num_contact").add_suffix('_come')
print '来电通话时常变量已经完成'
# record_contact_gap_BA=get_stats(app_call_record_group_BA,"contact_gap").add_suffix('_come')

## 去电
app_call_record_group_AB=app_call_record[app_call_record.type_call==1].groupby(["phone_contact"])
print '去电排序已经完成'
record_time_AB=get_stats(app_call_record_group_AB,"num_contact").add_suffix('_call_to')
print '去电通话时常变量已经完成'
# record_contact_gap_AB=get_stats(app_call_record_group_BA,"contact_gap").add_suffix('_call_to')


## 未接
# app_call_record_group_miss=app_call_record[app_call_record.type_call==3].groupby(["custorm_id","login_name","phone_contact"])["type"].count().add_suffix("_miss")


## 合并

排序已经完成
通话时常变量已经完成
来电排序已经完成
来电通话时常变量已经完成
去电排序已经完成
去电通话时常变量已经完成
CPU times: user 1min 21s, sys: 4.81 s, total: 1min 26s
Wall time: 1min 26s

### 特征2:主叫总时长、主叫总次数、平均时长

In [21]:
record_time_BA.head(3)

,num_contact_sum_come,num_contact_mean_come,num_contact_count_come,num_contact_std_come,num_contact_max_come,num_contact_min_come,num_contact_median_come
phone_contact,,,,,,,
1.003627e+10,34.0,34.0,1,NaN,34.0,34.0,34.0
1.005121e+10,110.0,55.0,2,9.899495,62.0,48.0,55.0
1.005271e+10,18.0,18.0,1,NaN,18.0,18.0,18.0

In [22]:
record_time_BA.shape

(5068109, 7)

### 特征3:被叫总时长、被叫总次数、平均时长

In [23]:
record_time_AB.head(3)

,num_contact_sum_call_to,num_contact_mean_call_to,num_contact_count_call_to,num_contact_std_call_to,num_contact_max_call_to,num_contact_min_call_to,num_contact_median_call_to
phone_contact,,,,,,,
1.008608e+10,102.0,102.0,1,NaN,102.0,102.0,102.0
1.008610e+10,13.0,13.0,1,NaN,13.0,13.0,13.0
1.008611e+10,1.0,1.0,1,NaN,1.0,1.0,1.0

In [24]:
record_time_AB.shape

(4897966, 7)

### 特征4:总时长、总次数、平均时长

### 特征5:时间段特征

In [73]:
metadata_mini

,custorm_id,login_name,type_contact,num_contact,time_contact,phone_contact,type_call,time_interval
0,3283806.0,1.523690e+10,1.0,85.0,2016-04-19 08:31:36,1.31237e+10,1.0,12
1,3283806.0,1.523690e+10,1.0,104.0,2016-04-19 07:50:59,1.31237e+10,1.0,12
2,3283806.0,1.523690e+10,1.0,47.0,2016-04-19 07:33:36,1.31937e+10,1.0,12
3,3283806.0,1.523690e+10,1.0,17.0,2016-04-18 13:58:26,1.84398e+10,1.0,18
4,3283806.0,1.523690e+10,1.0,113.0,2016-04-18 13:30:58,1.384e+10,2.0,18
5,3283806.0,1.523690e+10,1.0,22.0,2016-04-18 12:48:19,1.58931e+10,1.0,12
6,3283806.0,1.523690e+10,1.0,28.0,2016-04-18 12:47:30,1.84398e+10,1.0,12
9,3283806.0,1.523690e+10,1.0,242.0,2016-04-18 10:09:04,1.58931e+10,2.0,12
10,3283806.0,1.523690e+10,1.0,23.0,2016-04-18 09:57:18,1.84398e+10,1.0,12
11,3283806.0,1.523690e+10,1.0,34.0,2016-04-18 09:52:33,1.84398e+10,2.0,12
12,3283806.0,1.523690e+10,1.0,29.0,2016-04-18 09:03:18,1.84398e+10,1.0,12
13,3283806.0,1.523690e+10,1.0,22.0,2016-04-18 09:02:22,1.35989e+10,2.0,12
14,3283806.0,1.523690e+10,1.0,5.0,2016-04-18 04:56:59,1.59383e+10,2.0,6
15,3283806.0,1.523690e+10,1.0,70.0,2016-04-17 18:33:28,1.59383e+10,2.0,18
16,3283806.0,1.523690e+10,1.0,37.0,2016-04-17 09:56:59,1.58931e+10,2.0,12
18,3283806.0,1.523690e+10,1.0,41.0,2016-04-17 09:14:42,1.3804e+10,1.0,12
19,3283806.0,1.523690e+10,2.0,42.0,2016-04-17 09:05:13,1.30286e+10,1.0,12
20,3283806.0,1.523690e+10,1.0,5.0,2016-04-17 08:31:56,1.3804e+10,1.0,12
21,3283806.0,1.523690e+10,1.0,24.0,2016-04-17 08:31:11,1.3804e+10,1.0,12
22,3283806.0,1.523690e+10,1.0,12.0,2016-04-17 08:23:42,1.35989e+10,2.0,12
23,3283806.0,1.523690e+10,1.0,47.0,2016-04-17 08:19:52,1.30286e+10,2.0,12
24,3283806.0,1.523690e+10,1.0,22.0,2016-04-17 08:05:30,1.35989e+10,1.0,12
25,3283806.0,1.523690e+10,1.0,20.0,2016-04-17 08:04:09,1.3804e+10,2.0,12
26,3283806.0,1.523690e+10,1.0,10.0,2016-04-17 07:11:48,1.50396e+10,2.0,12
27,3283806.0,1.523690e+10,1.0,49.0,2016-04-16 15:12:37,1.31237e+10,1.0,18
28,3283806.0,1.523690e+10,1.0,12.0,2016-04-16 13:34:20,1.50396e+10,2.0,18
29,3283806.0,1.523690e+10,1.0,27.0,2016-04-16 12:22:36,1.31937e+10,1.0,12
30,3283806.0,1.523690e+10,1.0,45.0,2016-04-16 10:40:07,1.58908e+10,2.0,12
31,3283806.0,1.523690e+10,1.0,17.0,2016-04-16 10:35:12,1.39397e+10,2.0,12
32,3283806.0,1.523690e+10,1.0,78.0,2016-04-15 15:48:45,1.52363e+10,1.0,18
...,...,...,...,...,...,...,...,...
9964,2918204.0,1.527084e+10,1.0,31.0,2016-03-18 11:01:41,13979195758,1.0,12
9965,2918204.0,1.527084e+10,2.0,38.0,2016-03-18 10:29:06,13047973198,1.0,12
9966,2918204.0,1.527084e+10,1.0,40.0,2016-03-18 10:28:03,13687002203,1.0,12
9967,2918204.0,1.527084e+10,1.0,17.0,2016-03-18 10:26:52,13687002203,1.0,12
9968,2918204.0,1.527084e+10,1.0,25.0,2016-03-18 10:25:47,13047973198,2.0,12
9970,2918204.0,1.527084e+10,1.0,52.0,2016-03-18 08:47:01,13979541660,2.0,12
9971,2918204.0,1.527084e+10,1.0,400.0,2016-03-17 21:49:39,13047973198,2.0,22
9972,2918204.0,1.527084e+10,1.0,30.0,2016-03-17 17:21:47,13979541660,1.0,18
9977,2918204.0,1.527084e+10,1.0,46.0,2016-03-17 11:14:20,13979541660,2.0,12
9978,2918204.0,1.527084e+10,1.0,43.0,2016-03-17 10:26:48,13979541660,2.0,12
9980,2918204.0,1.527084e+10,1.0,18.0,2016-03-17 09:46:33,17087567426,2.0,12
9981,2918204.0,1.527084e+10,1.0,37.0,2016-03-17 09:41:47,13979541660,2.0,12
9982,2918204.0,1.527084e+10,1.0,38.0,2016-03-17 07:45:43,15070038344,2.0,12
9983,2918204.0,1.527084e+10,1.0,102.0,2016-03-16 21:43:37,13979541660,2.0,22
9984,2918204.0,1.527084e+10,1.0,395.0,2016-03-16 18:41:28,13979541660,2.0,18
9985,2918204.0,1.527084e+10,1.0,28.0,2016-03-16 18:36:49,13979541660,1.0,18
9986,2918204.0,1.527084e+10,1.0,101.0,2016-03-16 17:25:59,18807099960,2.0,18
9987,2918204.0,1.527084e+10,1.0,60.0,2016-03-15 21:05:36,13979195758,2.0,22
9988,2918204.0,1.527084e+10,1.0,499.0,2016-03-15 11:34:57,13539755298,2.0,12
9989,2918204.0,1.527084e+10,1.0,16.0,2016-03-14 15:53:10,13979541660,2.0,18
9990,2918204.0,1.527084e+10,1.0,21.0,2016-03-14 15:35:12,13979541660,2.0,18
9991,2918204.0,1.527084e+10,1.0,74.0,2016-03-14 15:15:10,13979541660,2.0,18
9992,2918204.0,1.527084e+10,2.0,206.0,2016-03-13 21:06:08,15170722662,1.0,22
9993,2918204.0,1.527084e+10,1.0,41.0,2016-03-13 18:29:56,13979541660,2.0,18
9994,2918204.0,1.527084e+10,1.0,203.0,2016-03-13 17:12:36,13979541660,2.0,18
9995,2918204.0,1.527084e+10,1.0,104.0,2016-03-13 16:58:05,13479178086,1.0,18
9996,2918204.0,1.527084e+10,1.0,153.0,2016-03-13 16:52:44,13979541660,2.0,18
9997,2918204.0,1.527084e+10,1.0,54.0,2016-03-13 14:59:44,15879107317,1.0,18
9998,2918204.0,1.527084e+10,1.0,20.0,2016-03-12 20:01:59,18611210734,2.0,20
9999,2918204.0,1.527084e+10,1.0,14.0,2016-03-12 19:43:56,15070016832,2.0,20

In [75]:
%time app_call_record.groupby(['phone_contact','time_interval']).apply(lambda x: sum(x.num_contact))

phone_contact  time_interval
1.003627e+10   18                 34.0
1.005121e+10   12                 48.0
               18                 62.0
1.005271e+10   18                 18.0
1.005921e+10   12                  6.0
1.006934e+10   12                240.0
1.006986e+10   18                  9.0
1.007491e+10   12                 41.0
1.008608e+10   12                102.0
1.008610e+10   24                 13.0
1.008611e+10   12                  1.0
1.008612e+10   24                  1.0
1.008670e+10   18                 25.0
               20                  1.0
1.010087e+10   12                581.0
               18                105.0
1.010522e+10   18                204.0
1.010562e+10   18                 31.0
               18                927.0
               18                182.0
1.010563e+10   18                 44.0
1.010584e+10   18                 20.0
               12                 17.0
1.010598e+10   12               2423.0
               18               4044.0
               20                820.0
1.011505e+10   22                 14.0
1.012050e+10   12                 54.0
1.012856e+10   24                103.0
1.015601e+10   20                 52.0
                                 ...
1.982734e+10   6                  21.0
1.982992e+10   20                  6.0
1.983976e+10   18                 22.0
1.984745e+10   12                 10.0
1.984834e+10   20                 31.0
1.985815e+10   18                 16.0
1.986250e+10   12                 20.0
1.988180e+10   18                 13.0
1.988971e+10   12                 21.0
1.990430e+10   18                 43.0
1.990461e+10   12                  7.0
1.990989e+10   12                  5.0
1.991476e+10   18                 21.0
1.991979e+10   12                 24.0
1.992141e+10   18                 12.0
1.992526e+10   12                 72.0
1.993578e+10   18                 11.0
1.993686e+10   18                  8.0
1.994511e+10   18                 18.0
1.994584e+10   6                  18.0
1.995025e+10   12                  8.0
1.995106e+10   12                  6.0
1.995975e+10   6                  12.0
1.996148e+10   12                 15.0
1.996392e+10   12                 45.0
1.996645e+10   18                 14.0
1.997056e+10   12                 21.0
1.997314e+10   12                 14.0
1.998236e+10   22                  6.0
1.999672e+10   12                  7.0
dtype: float64

In [ ]:
%time app_call_record.groupby(['phone_contact','time_interval']).count()

### 合并特征

In [69]:
pd.concat([sss,record_time_BA,],axis=1,join='inner').head(3)

Empty DataFrame
Columns: [0, num_contact_sum_come, num_contact_mean_come, num_contact_count_come, num_contact_std_come, num_contact_max_come, num_contact_min_come, num_contact_median_come, num_contact_sum_come, num_contact_mean_come, num_contact_count_come, num_contact_std_come, num_contact_max_come, num_contact_min_come, num_contact_median_come, time_interval]
Index: []