## 一、fdl_cust_user_info_chain  
- 2.6 G    7.9 G     /user/hive/warehouse/fdl.db/fdl_cust_user_info_chain  
- sql:select id,cust_name,id_no,mobi_no,reg_src from fdl.fdl_cust_user_info_chain  limit 10

In [ ]:
###   数据获取

In [30]:
from impala.dbapi  import connect
from sqlalchemy import *  
from sqlalchemy.sql import select  
from sqlalchemy.schema import *  
import numpy as np
import pandas as pd
from sqlalchemy.orm import sessionmaker
conn=connect(host="192.168.61.168",port=21050,user="yudang.wei",password="19900410w",auth_mechanism="GSSAPI")

In [19]:
query=pd.read_sql_query("select id,cust_name,id_no,mobi_no,reg_src from fdl.fdl_cust_user_info_chain",conn,chunksize=10000)

In [49]:
def ToDisk(filename,query):
    first=query.next()
    first.to_csv(filename,encoding="utf-8")
    for line in query:
        line.to_csv(filename,header=False,mode="a+",encoding="utf-8")

### 数据处理

#### 1.去重

In [5]:
cust_user_info=pd.read_csv("data/fdl_cust_user_info_chain.csv",index_col=0)

/usr/bin/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
cust_user_info.drop_duplicates().to_csv("data/fdl_cust_user_info_chain.csv")

#### 2.数据质量描述

In [50]:
cust_user_info=pd.read_csv("data/fdl_cust_user_info_chain.csv",index_col=1)
cust_user_info.drop(['Unnamed: 0'],inplace=True,axis=1)

###  5685171 用户

In [13]:
cust_user_info.shape

(5685171, 5)

In [53]:
cust_user_info.head(3)

      cust_name               id_no      mobi_no  reg_src
id
5798        戴俊安  371311198712212615  18267179687  Android
20995       肖艳平  430204197010230028  18607337862  Android
25064       申俊鹤  410526199107059570  13253382545  Android

In [36]:
print "姓名的缺失值数量：",cust_user_info[cust_user_info.cust_name.isnull()==True].shape[0]
print "身份证信息的缺失值数量：",cust_user_info[cust_user_info.id_no.isnull()==True].shape[0]
print "手机号码的缺失值数量：",cust_user_info[cust_user_info.mobi_no.isnull()==True].shape[0]
print "注册设备的缺失值数量：",cust_user_info[cust_user_info.reg_src.isnull()==True].shape[0]

姓名的缺失值数量： 533021
身份证信息的缺失值数量： 535374
手机号码的缺失值数量： 0
注册设备的缺失值数量： 0

##   二、crawl_mobile_call_record_hive
- 文件太大按照partitions 进行查询，从而避免了内存溢出
- 数据量：2602069606

### 1.分区查询

In [25]:
mobi_call_records_partitions=pd.read_sql_query("show partitions crawler.crawl_mobile_call_record_hive",conn,index_col="dt")

In [26]:
mobi_call_records_partitions.to_csv("data/mobi_call_records_partitions.csv")

### 2.数据抽取

In [31]:
mobi_call_records_partitions=pd.read_csv("data/mobi_call_records_partitions.csv",index_col=0,parse_dates=["dt"]).sortlevel()

In [56]:
butket=["2016-09-25","2016-10-31"]
conds=["where A.dt>'2016-04-22' and A.dt<'2016-08-01'"," where A.dt>'2016-08-01' and A.dt<'2016-09-19'", \
       "where A.dt>'2016-09-19' and A.dt<'2016-10-14'"," where A.dt>'2016-10-14' and A.dt<'2016-11-08'", \
       "where A.dt>'2016-11-08' and  A.dt<'2016-11-30'"," where A.dt>'2016-11-30'and A.dt<'2016-12-16'", \
       "where A.dt>'2016-12-16' and  A.dt<'2016-12-26'"]
names=["data/mobi/mobi_call_record_0422_0731.csv","data/mobi/mobi_call_record_0801_0918.csv","data/mobi/mobi_call_record_0919_1013.csv",\
      "data/mobi/mobi_call_record_1014_1107.csv","data/mobi/mobi_call_record_1108_1129.csv","data/mobi/mobi_call_record_1130_1215.csv",\
    "data/mobi/mobi_call_record_1216_1225.csv"]

In [ ]:
%%time
query_collect=[]
for con_name in zip(conds,names):
#     print con_name
    call_record_sql="select custorm_id,login_name,type_contact,num_contact,time_contact,phone_contact,type_call from crawler.crawl_mobile_call_record_hive  A "
    call_record_sql=call_record_sql+con_name[0]
    filename=con_name[1]
    query=pd.read_sql_query(call_record_sql,conn,chunksize=10000)
    query_collect.append([query,filename])

In [60]:
def ToDisk(file_qury):
    query=file_qury[0]
    filename=file_qury[1]
    first=query.next()
    first.to_csv(filename,encoding="utf-8")
    for line in query:
        line.to_csv(filename,header=False,mode="a+",encoding="utf-8")

In [62]:
%%time
from multiprocessing.dummy  import Pool
pool=Pool(7)
pool.map(ToDisk,query_collect)
pool.close()
pool.join()

StopIteration:

In [47]:
query=pd.read_sql_query(call_record_sql,conn,chunksize=10000)
print call_record_sql

select custorm_id,login_name,type_contact,num_contact,time_contact,phone_contact,type_call from crawler.crawl_mobile_call_record_hive  A where A.dt>'2016-12-16' and  A.dt<'2016-12-26'

### 3.数据质量

In [103]:
call_record_0925=pd.read_csv("data/call_record_0925.csv",index_col=1).drop(['Unnamed: 0'],axis=1)
call_record_0926_1031=pd.read_csv("data/call_record_0926_1031.csv",index_col=1).drop(['Unnamed: 0'],axis=1)
call_record_1101=pd.read_csv("data/call_record_1101.csv",index_col=1).drop(['Unnamed: 0'],axis=1)

In [108]:
print "2016年9月25日之前数据量：",call_record_0925.shape[0]
print "2016年9月26日到10月31日数据量：",call_record_0926_1031.shape[0]
print "2016年11月1日之后数据量：",call_record_1101.shape[0]

2016年9月25日之前数据量： 70341735
2016年9月26日到10月31日数据量： 40508506
2016年11月1日之后数据量： 69258991

In [106]:
call_record_0925.head(10)

           name       number            call_time  type   time
custorm_id
3700004     孙松强  15738505375  2016-09-16 14:16:16     1    5.0
3700004     孙松强  15738505375  2016-09-16 13:56:47     1   26.0
3700004     孙松强  15738505375  2016-09-16 13:30:51     1   48.0
3700004     孙松强  15738505375  2016-09-16 13:12:45     2   62.0
3700004     孙松强  15738505375  2016-09-16 11:45:34     2   78.0
3700004     孙松强  15738505375  2016-09-16 11:35:14     2    0.0
3700004     孙松强  15738505375  2016-09-16 11:35:00     3    0.0
3700004     孙松强  15738505375  2016-09-16 11:15:35     2   69.0
3700004     孙松强  15738505375  2016-09-16 09:33:32     2  327.0
3700004       陈  13783226625  2016-09-15 15:14:51     3    0.0

In [109]:
call_record_0925.drop_duplicates(inplace=True)
call_record_0926_1031.drop_duplicates(inplace=True)
call_record_1101.drop_duplicates(inplace=True)

In [119]:
print "2016年9月25日之前数据量：",call_record_0925.shape[0],call_record_0925.shape[0]/70341735.0
print "2016年9月26日到10月31日数据量：",call_record_0926_1031.shape[0],call_record_0926_1031.shape[0]/40508506.0
print "2016年11月1日之后数据量：",call_record_1101.shape[0],call_record_1101.shape[0]/69258991.0

2016年9月25日之前数据量： 32922996 0.468043559062
2016年9月26日到10月31日数据量： 16584652 0.409411593703
2016年11月1日之后数据量： 23303039 0.336462294116

In [122]:
print "姓名的缺失率：",call_record_0925[call_record_0925.name.isnull()==True].shape[0]/ 32922996.0
print "手机号码的缺失率：",call_record_0925[call_record_0925.number.isnull()==True].shape[0]/ 32922996.0
print "通话时长的缺失率：",call_record_0925[call_record_0925.time.isnull()==True].shape[0]/ 32922996.0

姓名的缺失率： 0.344638896169
手机号码的缺失率： 0.0
通话时长的缺失率： 0.779447502287

### 4.数据整合

In [123]:
pd.concat([call_record_0925,call_record_0926_1031,call_record_1101]).to_csv("data/app_call_record_hive")

##  三、数据分析
为了讨论方便，我们将主键用户成为**A**,通话对方称为**B**

In [2]:
call_record=pd.read_csv("data/app_call_record_hive1.csv",index_col=0,parse_dates=["call_time"])
# call_record=call_record[call_record.call_time!="0001-05-05 07:00:50"]
call_record.call_time=pd.Timestamp(call_record.call_time)

TypeError: Cannot convert input to Timestamp

In [9]:
# call_record.call_time=map(pd.Timestamp,call_record.call_time.values)

In [10]:
cust_user_info=pd.read_csv("data/fdl_cust_user_info_chain.csv",index_col=1)
cust_user_info.drop(['Unnamed: 0'],inplace=True,axis=1)

/usr/bin/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
print "通话记录数据量",call_record.shape[0]
print "个人信息数据量",cust_user_info.shape[0]

通话记录数据量 68755648
个人信息数据量 5685171

### 1.通话记录数据描述统计

In [12]:
custorm_unique=call_record.index.unique()
print "A数据量: ",custorm_unique.shape[0]
number_unique=call_record.number.unique()
print "number 数据量： ",number_unique.shape[0]

A数据量:  607569
number 数据量：  1817445

In [217]:
dd=call_record.ix[ 3640004,:]

In [149]:
def fillName(df):
    df["name"].ffill(inplace=True)
    
    df.sort_values("call_time",inplace=True)
    df["contact_gap"]=((df.call_time-df["call_time"].shift(1))/np.timedelta64(1,"D")).bfill(limit =1)
    return df

def contact_features(df):
    time_stats=pd.DataFrame(df.time.describe())
    
    
    return time_stats
# dd.groupby("number",as_index=False).apply(fillName)

In [212]:
nn=dd.groupby(["number","name"])
nn["time"].agg([np.sum,np.max,np.count_nonzero])

                   sum  amax  count_nonzero
number      name
15073476987 取      0.0   0.0            0.0
15211849182 小蒋    12.0  12.0            1.0

In [219]:
call_record_hour=call_record.groupby("number",as_index=False).apply(fillName)

In [220]:
call_record_hour.to_csv("data/call_record_hour.csv")

In [143]:
ff.add_prefix("time_")

,,time_count,time_mean,time_std,time_min,time_25%,time_50%,time_75%,time_max
number,name,,,,,,,,
15073476987,取,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0
15211849182,小蒋,3.0,10.0,9.165151,0.0,6.0,12.0,15.0,18.0

In [45]:
import time
d1=time.strptime("2016-09-08 12:35:48", "%Y-%m-%d %H:%M:%S")
d2=time.strptime("2016-09-10 17:35:48", "%Y-%m-%d %H:%M:%S")
ccc=pd.Timestamp("2016-09-10 17:35:48")
ccc1=pd.Timestamp("2016-09-08 12:35:48")
ff=["2016-09-08 12:35:48","2016-09-08 12:35:48"]

In [23]:
ccc.hour

17

In [54]:
call_record[call_record.call_time!="0001-05-05 07:00:50"]

           name       number            call_time  type  time
custorm_id
3471926      阿飞  13736223373  0001-05-05 07:00:50     2   0.0
3471926     NaN  13800138000  0001-05-05 07:00:50     1   0.0
3397424      阿飞  13736223373  0001-05-05 07:00:50     2   NaN
3397424     NaN  13800138000  0001-05-05 07:00:50     1   NaN